ion-spinner {
    display: block;
    margin: auto;
}

.movie-card {
    border: 1px solid var(--ion-color-secondary);
} 
.movie-info {
    background: var(--ion-color-tertiary);
}
.movie-info-header {
    background: var(--ion-color-tertiary);
}