<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/films">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="film; else spinner">
    <ion-card-content>
      {{ film.opening_crawl }}
    </ion-card-content>
  </ion-card>

  <ng-template #spinner>
    <!-- Loading spinner -->
    <ion-spinner name="dots"></ion-spinner>
  </ng-template>

</ion-content>