<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" defaultHref="/tabs/planets">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ planet?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-content padding>
      <ion-card *ngIf="planet; else spinner">
        <ion-card-content>
          <p>{{ planet.name }}</p>
          <p>{{ planet.rotation_period }}</p>
          <p>{{ planet.orbital_period }}</p>
          <p>{{ planet.diameter }}</p>
          <p>{{ planet.climate }}</p>
          <p>{{ planet.gravity }}</p>
        </ion-card-content>
      </ion-card>
  
      <ng-template #spinner>
        <!-- Loading spinner -->
        <ion-spinner name="dots"></ion-spinner>
      </ng-template>
    </ion-content>