<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Films</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="films">
    <ion-item button detail lines="inset" *ngFor="let film of (films | async)?.results" (click)="openDetails(film)">
      <ion-item>
          <ion-icon name="videocam"></ion-icon>
        {{ film.title }}
      </ion-item>

    </ion-item>
  </ion-list>
  <ion-list *ngIf="!films">
    <ng-template #spinner>
      <!-- Loading spinner -->
      <ion-spinner name="dots"></ion-spinner>
    </ng-template>
  </ion-list>
</ion-content>