<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/people">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <ion-card *ngIf="person; else spinner">
      <ion-card-content>
        <p>{{ person.name }}</p>
        <p>{{ person.height }}</p>
        <p>{{ person.mass }}</p>
        <p>{{ person.gender }}</p>
        <p>{{ person.homeworld }}</p>
        <p>{{ person.films }}</p>
      </ion-card-content>
    </ion-card>

    <ng-template #spinner>
      <!-- Loading spinner -->
      <ion-spinner name="dots"></ion-spinner>
    </ng-template>
  </ion-content>