<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button label="Home" icon="home" href="inside/tabs/(home:home)">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button label="MemBook" icon="mem" href="inside/tabs/(mem:mem)">
      <ion-router-outlet name="mem"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button label="Logout" icon="logout" href="inside/tabs/(logout:logout)">
      <ion-router-outlet name="logout"></ion-router-outlet>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>